<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
   <link rel="stylesheet" href="index.css">
</head>


<body>

<div id="login-form-wrap">
    <h2>Login</h2>
    <form action="/login" method="post" id="login-form">
      <p>
      <input type="text" id="username" name="phone" placeholder="Enter Mobile Number" maxlength="10" minlength="10" required><i class="validation"><span></span><span></span></i>
      </p>
      <p>
      <input type="text" id="email" name="password" placeholder="Enter Password" required><i class="validation"><span></span><span></span></i>
      </p>
      <p>
      <input type="submit" id="login" value="Login">
      </p>
    </form>
    <div id="create-account-wrap">
      <p>Not a member? <a href="/signup">Create Account</a><p>
    </div>
  </div>


    
</body>
</html>