<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/upload" method="post" enctype="multipart/form-data" >
        <input type="date" id="birthdate" name ="date" >
        <button type="submit"></button>
    </form>
 
    <script src="script.js"></script>


</body>
</html>


<!-- src = 'data:{{contentType}};base64,{{imageBase64}}' -->